.wrapper-users{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 3rem 2rem;
}

.card-user{
    background-color: var(--color-bg);
    height: min(400px);
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -2px var(--color-shadow);
}