*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.card-book{
  background-color: #ddd;
  width: max(400px);
  padding: 2rem 1rem;
}

.card-book__title{
  font-size: 1.5rem;
}

.card-book__author{
  font-size: 1.2rem;
}

.card-book__image{
  width: 300px;
}

.card-book__description{
  font-size: .8rem;
}
