*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

a:active{
  color: #000
}

a:visited{
  color: #000;
}